* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.navbar {
    background-color: #06213F;  
}



.nav-item a {
    font-size: 2rem;
    color: #DFD5CA;
    transition: 0.2s;
}

#content {
    width: 100vw;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url('../assets/bg.jpg') 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0 auto;
    max-width: 75rem;
    gap: 2rem;
    padding-top: 20rem;
    
} 

.text-container blockquote, cite {
    font-size: 3rem;
    color: #DFD5CA;
    font-weight: bold;
    text-align: left;
}


#about-area {
    background-color: #F9F9F9;
    height: 100vh;
  }
  
  .main-title {
    color: #073251;
    margin: 2rem 0 6.5rem 0;
    font-size: 4rem;
    text-align: center;
  }
  
  .main-title::after {
    content: "";
    border-top: 2px solid #06213F;
    width: 15%;
    position: absolute;
    top: 80px;
    left: 42.5%;
  }
  
  .about-title {
    font-size: 2rem;
    color: #073251;
    text-transform: uppercase;
    font-weight: bold;
  }

  #about-area p {
      color: #073251;
      font-size: 1.6rem;
  }
  


#services {
    width: 100vw;
    height: auto;
    margin: 0 auto;
    padding: 10rem;
    background-color: #06213F; 
}

.services-title {
    color: #DFD5CA;
    margin: 0 0 6.5rem 0;
    font-size: 4rem;
    text-align: center;
}

.services-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

#services h1 {
    color: #06213F;
}

#services p {
    color: #010101;
    font-weight: bold;
    font-size: 1.6rem;
}

#services .btn{
    background-color: #073251;
    color: #DFD5CA;
    font-weight: bold;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    transition: 0.3s;
}

#services .btn:hover{
    transform: scale(1.05);
}

/* Footer */

#contact-area {
    text-align: center;
  }
  
  .contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #06213F;
  }
  
  .contact-box i {
    color: #06213F;
    border: solid 1px #010101;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-box p {
    font-size: 1.6rem;
    color: #073251;
  }
  
  .contact-tile {
    font-weight: bold;
    color: #073251;
  }
  
  #msg-box p {
    font-size: 2rem;
    color: #06213F;
  }
  
  #contact-form input[type="text"], #contact-form textarea {
    margin-bottom: 2rem;
    border-radius: 0;
    font-size: 2rem;
  }
  
  #contact-form .main-btn {
    width: 13rem;
    height: 5rem;
    font-size: 2rem;
    transition: 0.3s;
  }

 #msg-box .img-contact {
      height: 20rem;
      border-radius: 50%;
    
  }
  
  #contact-form .main-btn:hover {
    color: #F9F9F9;
    background-color: #073251;
  }
  
  /* Copy */
  
  #copy-area {
    background-color: #F1F1F1;
  }
  
  #copy-area .container {
    padding: 10px 0;
    text-align: center;
  }
  
  #copy-area .container p {
    margin-bottom: 0;
  }
  
  #copy-area .container a {
    font-weight: bold;
    color: #010101;
    transition: 0.3s;
  }
  
  #copy-area .container a:hover {
    text-decoration: none;
    color: #073251;
  }
